@font-face {
    font-family: Roboto-Thin;
    src: url("../monikajaskolka.github.io/fonts/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {	/* Make webpage cover entire browser viewport */
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 10pt;
}

* {
  box-sizing: border-box;
}

/*----------------- Header Name -----------------*/
#name {
  background-color: #111111;
  color: #ffffff;
  font-family: 'Roboto-Thin', Sans-Serif;
  font-size: 32pt;
  font-weight: 100;
  letter-spacing: 14px;
  padding: 30px 10% 30px 8%;
}

#name a:link, #name a:visited, #name a:active, #name a:hover  {
  color: #ffffff;
  text-decoration: none;
}

/*----------------- Navigation -----------------*/
#nav {
  background-color: #282828;
  font-size: 10pt;
  letter-spacing: 2px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .5);
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  border-left: 1px solid black;
  display: inline;
  list-style-type: none;
}

#nav a {
  background-color: #282828;
  color: #d0d0d0;
  display: inline-block;
  letter-spacing: 4px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}

#nav a:hover {
  color: #ffffff;
  transition: 0.3s;
}

/*----------------- Main Content -----------------*/
/*------------------- General --------------------*/
img.icon {
  opacity: 0.57;
  padding: 0 2px;
  vertical-align: middle;
  width: 20px;
}

p {
  padding-bottom: 20px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

em.light {
  color: #666666;
  font-weight: 100;
}

a:link, a:visited, a:active {
  color: #808080;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  text-decoration: none;
}

a:hover {
  color: #333333;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
}

a.invisible:link, a.invisible:visited, a.invisible:hover, a.invisible:active {
  color: black;
  text-decoration: none;
}

a.award:link, a.award:visited, a.award:active {
  color:#d27b7b;
}

a.award:hover {
    color:#dd3738;
}

h2 {
  margin: 0;
  padding: 3px 0 8px 0;
  font-size: 18pt;
  font-weight: 300;
}

h2.title {
  font-size: 16pt;
}

h3 {
  margin: 0;
  padding: 5px 0 2px 0;
  font-size: 14pt;
  font-weight: 100;
}

h4 {
  margin: 0;
  padding: 5px 0 2px 0;
  font-size: 9pt;
  font-weight: 100;
  float: right;
}

span.dummy {
  display: none;
}

/*----------------- Index Page ------------------*/
img.portrait {
  max-width: 100%;
  height: auto;
}

.column {
  float: left;
  padding-top: 60px;
  padding-bottom: 60px;
}

.left {
  width: 35%;
  text-align: right;
}

.right {
  width: 65%;
  text-align: justify;
  line-height: 190%;
  max-width: 720px;
  padding-left: 4%;
  padding-right: 4%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------- Other Pages ------------------*/
#main {
  height: 100%;
  margin: 40px 20%;
  padding: 20px;
  text-align: justify;
}

#main b {
  font-weight: 700;
}

iframe {
  border: 0px;
}

/*------------------ Copyright -------------------*/
#copyright {
  bottom: 0;
  color: #b3b3b3;
  font-size: 8pt;
  letter-spacing: 3px;
  margin: 30px 0 10px 0;
  position: absolute;
  text-align: center;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  width: 100%;
}

#copyright:hover {
  color: #4d4d4d;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}

/*------------------  Responsive layout -------------------*/
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    padding: 15px 40px;
  }
  .left {
    text-align: center;
    padding-top: 5%;
  }
  .right {
    line-height: 150%;
  }
  p {
    padding: 5px 0 10px 0;
  }
  h2 {
    padding: 3px 0 3px 0;
  }
  #main {
    height: 100%;
    margin: 5px 0%;
    padding: 20px;
    text-align: left;
  }
  #name {
    text-align:center;
    padding: 3% 0;
  }
  h4 {
    float: none;
    clear: both;
  }
}